@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-family: 'Open Sans';
    font-size: clamp(8px, 0.5vw, 40px);
    background-color: #202020;
    color: #ffffff;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-size: 2rem;
}

a {
    color: darkgrey;
    text-decoration: underline;
    font-style: italic;
}

a:visited {
    color: gray;
}

.headerContainer {
    background-color: #303030;
    text-align: center;
    font-size: 2rem;
    height: max-content;
}

.headerContainer .headerText {
    padding: 1rem;
    margin: 0;
}

.navBar {
    height: max-content;
    background-color: #242424;
    border-bottom: solid black 0.25rem;
    display: flex;
    position: sticky;
    top: 0;
}

.navBar .navItem {
    user-select: none;
    margin: 1rem;
    padding: 2rem;
    font-size: 2rem;
    background-color: #131313;
    border-radius: 10px;
    transition: filter 0.25s, transform 0.3s, box-shaddow 0.25s, border-radius 0.25s;
}

.navBar a {
    text-decoration: none;
    color: currentColor;
    font-style: normal;
}

.navBar .navItem:first-child {
    background-color: #0c6900;
}

.navBar .navItem:last-child {
    background-color: #696900;
    margin-left: auto;
}

.navBar .navItem:hover {
    filter: brightness(2);
    transform: scale(0.9);
    box-shadow: 0.5rem 0.5rem 5px black;
    border-radius: 30px;
}

.InformationContainer {
    margin-top: 1rem;
    width: 100vw;
}

.InformationContainer .InformationItem {
    display: block;
    background-color: #303030;
    height: max-content;
    width: 90%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.InformationContainer .InformationItem img {
    border-radius: 10%;
    border: solid black;
}

.MainContent p {
    margin: 2rem;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 1rem;
    justify-items: center;
    align-items: center;
}

.GameContainer {
    background-color: #303030;
    height: clamp(240px, max-content, 340px);
    width: min-content;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    text-align: center;
}

.GameContainer img {
    display: block;
    border: solid black;
    border-radius: 10%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 20rem;

    transition: border-radius 0.25s ease;
}

.GameContainer img:hover {
    border-radius: 50%;
}


.GameContainer .DownloadButtonLink {
    font-size: 3rem;
    font-weight: bold;
    color: #92afc7;
    user-select: none;
    text-decoration: none;
    font-style: normal;
}

.GameContainer .DownloadButtonLink::after {
    display: block;
    content: '';
    width: 0;
    height: 0.25rem;
    background-color: #92afc7;
    transition: width 0.25s ease;
}

.GameContainer .DownloadButtonLink:hover::after {
    content: '';
    width: 100%;
    height: 0.25rem;
}

/*.DownloadButtonLink {
    width: max-content;
    border-radius: 10px;
    background-color: #242424;
    color: #92afc7;
    text-decoration: none;
    font-style: normal;
}*/